---
---

.body {
    margin-top: 3em;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

.btn-sm {
    font-size: .75rem;
    padding: 5px .4rem;
    line-height: 1;
}

.row {
    margin-top: 1.5em;
}

#publications span {
    font-size: .9rem;
}

#publications .smaller {
    font-size: .8rem;
}

#publications .btn {
    font-size: .5rem;
}

.line {
    margin-bottom: 1em;
}

.line .row {
    margin-top: 0!important;
}